.customModal{
  background-color:#18051B;
}
.chakra-slide.chakra-modal__content {

  margin:2rem;
  background:#18051B !important;
  color:#ffffff;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #5101FE, #d53a9d);
  /*font-family: 'Michroma', sans-serif;*/

} 
